<!doctype html>
<html lang="en">
  <head>
<%- include('../partials/head'); %>

  </head>
  <body class="h-100">
    
<%- include('../partials/header'); %>
<main class="container w-100 pb-5">
  <div class="bg-light p-5 rounded container text-center">
    <h1><%= camera.charAt(0).toUpperCase() + camera.slice(1) %> camera.</h1>    
  </div>  
  <h3> Latest Images</h3>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
    <% images.forEach(function(image){ %>
      <div class="col">
        <div class="card shadow-sm">
          <a href="/images/<%= camera %>/<%= image %>" data-toggle="lightbox" data-gallery="latest-snapshots">
            <img class="img-thumbnail" src="/images/<%= camera %>/<%= image %>" />
          </a>
          <div class="card-body">
            <p class="card-text"><%= image %></p>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
<hr>
<h3>Latest Videos</h3>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 pb-5">
  <% videos.forEach(function(video){ %>
    <div class="col">
      <div class="card shadow-sm">
        <a href="/v/t/<%= camera %>/<%= video %>" data-toggle="lightbox" data-gallery="latest-videos">
          <img class="img-thumbnail" src="/v/thumb/<%= camera %>/<%= video %>/png" />
        </a>
        <div class="card-body">
          <p class="card-text"><%= video %></p>
        </div>
      </div>
    </div>
  <% }); %>
</div>  
</main>


<%- include('../partials/footer'); %>
      
  </body>
</html>
