<!doctype html>
<html lang="en">
  <head>
<%- include('../partials/head'); %>

  </head>
  <body>
    
<%- include('../partials/header'); %>

<main class="container-fluid">
  <%if (frigateOnline < 1) { %>
    <h1 class="text-center red-text"><b>It seems that your Frigate instance is offline, please check!</b></h1>
  <% } %>    
  <div class="bg-light p-5 rounded container">
    <h1>Welcome to Frigate Timelapser.</h1>
    <!-- <p class="lead">Welcome to Frigate Timelapser.</p> -->
    <hr class="hr py-2"/>
    <h4>Latest images:</h4>
    <div class="row justify-content-center">
      <% cameras.forEach(function(camera){ %>
        <div class="col-12 col-md-4">
          <div class="row">
            <b><%= camera.charAt(0).toUpperCase() + camera.slice(1) %></b>
          </div>
          <div class="row">
            <h3><a href="/latest/<%= camera %>" data-toggle="lightbox" data-gallery="latest-snapshots" data-type="image"><img src="/latest/<%= camera %>" class="img-fluid max-220"></a></h3>
          </div>          
        </div>
      <% }); %>
    </div>      
  </div>

</main>


<%- include('../partials/footer'); %>
      
  </body>
</html>
