<!-- test updated -->
<!doctype html>
<html lang="en">
  <head>
<%- include('../partials/head'); %>

  </head>
  <body>
    
<%- include('../partials/header'); %>
<main class="container">
  <%if (frigateOnline < 1) { %>
    <h1 class="text-center red-text"><b>It seems that your Frigate instance is offline, please check!</b></h1>
  <% } %>    
  <div class="bg-light p-5 rounded">
    <h1>Settings</h1>
    <p class="lead">Here is a list of your current settings, you can change some of these by editing your .env file</p>
    <p><b>Frigate url:</b> <a href="<%= frigateurl %>" target="_blank"><%= frigateurl %></a></p>
    <p><b>Cameras:</b></p>
    <ul>
      <% cameras.forEach(function(camera){ %>
      <li><a href="/c/<%= camera %>"><%= camera %></a>
      <% }); %>
    </ul>
  </div>

</main>


<%- include('../partials/footer'); %>
      
  </body>
</html>
