<!doctype html>
<html lang="en">
  <head>
<%- include('../partials/head'); %>
    <script src="/js/websocket.js"></script>
  </head>
  <body class="h-100">
    
<%- include('../partials/header'); %>
<main class="container d-flex justify-content-center">

  <div class="container py-4">
    <div class="bg-light p-5 rounded container text-center row">
      <h1><span id="mainTitle">Generate a Timelapse.</span></h1>
    </div>  
    <div class="d-none row d-flex justify-content-center" id="loader">
      <div class="row d-flex justify-content-center">
        <div class="col-xs-12 col-md-6 d-flex justify-content-center">
          <img src="/images/pacman.svg" class="img-fluid">          
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center pt-5 d-none" id="generated">
      <div class="col-md-9 col">
        <div id="video" class="">
          <div class="embed-responsive embed-responsive-16by9 w-100">
            <video class="embed-responsive-item w-100" id="videoPlayer" controls>
              <source src="" type="video/mp4" id="videoSource">
            Your browser does not support the video tag.
            </video>
          </div>  
        </div>
      </div>
    </div>        
    <div class="row pt-3" id="generateForm">
      <p>Select your camera from the dropdown below and click generate to create your Timelapse</p>
      <form>
        <fieldset>
          <legend>Choose a camera</legend>
          <div class="mb-3">
            <label for="cameraSelect" class="form-label">Disabled select menu</label>
            <select id="cameraSelect" class="form-select">
              <% cameras.forEach(function(camera){ %>
              <option value="<%= camera %>"><%= camera.charAt(0).toUpperCase() + camera.slice(1) %></option>
              <% }); %>
            </select>
          </div>
          <button type="button" class="btn btn-primary" id="generateButton">Generate</button>
        </fieldset>
      </form>
    </div>    
  </div>


</main>

<%- include('../partials/footer'); %>
<script src="/node_modules/typed.js/dist/typed.umd.js"></script>
   <script>
   
$("#generateButton").click(function(){
  $('#mainTitle').text('');
  const typed = new Typed("#mainTitle", {
    strings: ['Generating, please wait...'],
    typeSpeed: 100,
    backSpeed: 0,
    backDelay: 500,
    startDelay: 1000,
    smartBackspace: false,
    loop: true
  });   
  var cameraName = $('#cameraSelect').find(":selected").val();
  console.log(cameraName)
  $('#generateForm').addClass("d-none");
  $('#loader').removeClass("d-none");
  typed.start();
  $.ajax({
      url : '/'+cameraName+'/timelapse/0/1',
      type : 'GET',
      dataType:'json',
      success : function(data) {             
        typed.destroy(); 
          console.log("Generated Timelapse");
      },
      error : function(response,error)
      {
        var data = JSON.parse(response.responseText)
        const popup = Notification({
        position: 'center',
        duration: 3500
        });
        popup.error({
        title: 'Error',
        message: data.message
        });
        typed.destroy(); 
        $('#mainTitle').text("Generate a Timelapse.")
        $('#generateForm').removeClass("d-none");
        $('#loader').addClass("d-none");        
      },
      timeout: 300000
  });
});    
    var conn = new ReconnectingWebSocket('ws://'+location.host+'/?uu=1');
    conn.debug = true;
    conn.timeoutInterval = 5400;
    conn.onopen = function(e) {
		  console.log("Websocket connection established!");
			var data = {
				event: "start"
			};
			conn.send(JSON.stringify(data));
		};

    conn.onmessage = function(e) {
			console.log(e.data);
      var data = JSON.parse(e.data)
      if(data.action) {
        if(data.action == "finishedTimelapse") {
        var filename = data.filename;
        var video = document.getElementById('videoPlayer');
        video.src = "/v/t/"+filename;
        $('#mainTitle').text("Voilà! Your Timelapse.")
        $('#loader').addClass("d-none");
        $('#generated').removeClass("d-none");
			}  
      }
    }

		conn.onclose = function(e) {
			console.log("Webchat connection closed!");
		}
   </script>   
  </body>
</html>
